[user]
    name = Enguerran
    email = engcolson@gmail.com

[github]
    user = enguerran

[hub]
    protocol = https

[core]
    editor = vim
    autocrlf = input
    compression = 9
    # Use custom `.gitignore` and `.gitattributes`
    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes

[color]
    ui = true

[alias]
    st = status -s
    ci = commit
    co = checkout
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
    le = log --oneline --decorate
    filelog = log -u
    fl = log -u
    lg = log --graph --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ar)%Creset'
    oops = commit --amend --no-edit
[log]
    abbrevCommit = true
[pull]
    rebase = preserve
[push]
    default = upstream
[status]
    submoduleSummary = true
    showUntrackedFiles = all
[color "branch"]
    upstream = cyan
[merge]
    tool = p4merge
[mergetool]
    prompt = false
    keepBackup = false
[mergetool "p4merge"]
    path = /usr/local/bin/p4merge
[diff]
    tool = p4merge
